<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <servlet>
        <servlet-name>edit</servlet-name>
        <servlet-class>kmap.EditServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>content</servlet-name>
        <servlet-class>kmap.ContentManagerServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>data</servlet-name>
        <servlet-class>kmap.DataServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>state</servlet-name>
        <servlet-class>kmap.StateServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>tests</servlet-name>
        <servlet-class>kmap.TestsServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>identities</servlet-name>
        <servlet-class>kmap.IdentitiesServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>feedback</servlet-name>
        <servlet-class>kmap.FeedbackServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>data</servlet-name>
        <url-pattern>/data</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>data</servlet-name>
        <url-pattern>/data/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>edit</servlet-name>
        <url-pattern>/edit</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>content</servlet-name>
        <url-pattern>/content</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>state</servlet-name>
        <url-pattern>/state</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>tests</servlet-name>
        <url-pattern>/tests</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>identities</servlet-name>
        <url-pattern>/identities</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>feedback</servlet-name>
        <url-pattern>/feedback</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>main.html</welcome-file>
    </welcome-file-list>

</web-app>
